<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>
<div th:switch="${PROGRAMMERS}">
    <h2 th:case="null">No programmers found!</h2>
    <div th:case="*">
        <h2>Programmers</h2>
        <table>
            <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="programmer : ${PROGRAMMERS}">
                <td th:text="${programmer.id}"></td>
                <td th:text="${programmer.firstName}"></td>
                <td th:text="${programmer.lastName}"></td>
                <td><a th:href="@{programmer-update/{id}(id=${programmer.id})}">Edit</a></td>
                <td><a th:href="@{programmer-delete/{id}(id=${programmer.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/programmer-create">Create programmer</a></p>
</div>
</body>
</html>